.Synonyms strong {
  padding-right: 10px;
  font-size: 17px;
  font-weight: bold;
  color: #6643b5;
}

.Synonyms {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Synonyms li {
  font-size: 17px;
  font-weight: 500;
  color: #233142;
  display: inline-block;
  padding-right: 10px;
}
